.encrypt {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 120px;
    color: #555;
    font-size: 18px;
    font-family:'Lato';
    text-align: center;
    padding: 10px;
    width: 360px;
    border: none;
}
.apply {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 180px;
    color: #555;
    font-size: 18px;
    font-family:'Lato';
    text-align: center;
    padding: 10px;
    width: 160px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}
.response {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 220px;
    color: #555;
    font-size: 18px;
    font-family:'Lato';
    text-align: center;
    padding: 10px;
    width: 360px;
    border: none;   
}